@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html,
body {
    height: 100%;
}

#root {
    height: 100%;
    padding-top: 78px;
}

.bg-primary {
    background-color: #111727 !important;
}

.text-primary {
    color: #111727 !important;
}

.btn-primary {
    background-color: #111727 !important;
}